@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;            /* Includes padding + border inside the element's width/height */     
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #6a11cb, #2575fc, #ff6a00, #ffcc70);
    background-size: 400% 400%;
    animation: bgMove 10s ease infinite;
}

@keyframes bgMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.counterBox {
    background: rgba(255, 255, 255, 0.15);
    padding: 60px 90px;
    border-radius: 25px;
    text-align: center;

    backdrop-filter: blur(15px);
    box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.25);

    transition: transform 0.3s ease;
}

.counterBox:hover {
    transform: scale(1.05);
}

h1 {
    font-size: 2.2rem;
    font-weight: 600;
    color: white;
    margin-bottom: 25px;
}

#counterLabel {
    font-size: 5rem;
    font-weight: 700;
    color: white;
    margin-bottom: 35px;

    transition: transform 0.2s ease;
}

#counterLabel.animate {
    transform: scale(1.2);
}

.btnContainer {
    display: flex;
    gap: 18px;
    justify-content: center;
}

button {
    padding: 12px 25px;
    border: none;
    border-radius: 12px;

    background: white;
    color: black;
    font-size: 1rem;
    font-weight: 600;

    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background: #ff6a00;
    color: white;
    transform: translateY(-5px);
}

#resetBtn:hover {
    background: #2575fc;
}

button:active {
    transform: scale(0.9);
}